.jumbotron{
	background-color: #AA3E2B;
	margin-top: 20px;
	
	


}

	.navbar {
		background-color:#343F3E; 
		margin-top: 20px;

	}


#services{
	margin-top: 400px;
}

.featurette-heading{
	color: #AA3E2B;
	font-family: verdana;

}

.img1{
	height: 500px;
	width: 500px;
}

.featurette-heading2{

	margin-top: 100px;
	color: #AA3E2B;
	font-family: verdana;
}


.featurette-heading3{
	margin-top: 120px;
	color: #AA3E2B;
	font-family: verdana;
}